.container {
  margin-top: 4px;
}

.navbar-brand {
  padding: 5px !important;
}

.container-fluid {
  display: flex;
}

.list-group-item.active {
  margin-bottom: 2px;
}

.info {
  margin-bottom: 30px;
}

.title {
  color: #1c8e97;
  font-size: initial;
  font-weight: 700;
}